
.nav__nav-box {
    display: grid;
    grid-template-columns: 50% 1fr 1fr 1fr;
    font-family: 'Pacifico', cursive;
    padding: 10px;
    padding-left: 25px;

    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    
}

.nav__logo {
    
    align-items: center;
    display: flex;

    
    
    & img {
        width: 80px;
    }
    
    & span {
        margin-left: 20px;
        font-size: 5rem;
        background-image: $rainbowed;
        background-clip: text;
        color: transparent;
    }
    
}

.nav__button {
    margin: 2rem;
    padding: 0;
    font-size: 3rem;
    max-width: 150px;

    & a {
        background-image: $rainbowed;
        background-clip: text;
        color: transparent;
    }
    
    transition: 0.3s ease-in-out;
    
    &:hover {
        box-shadow: 1px 1px 1px 1px $main-color;
    }
}

.nav__button-underlining {
    height: 4px;
}


// Responsive design
@media (max-width: 800px){
    
    .nav__nav-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__button {
        margin: 0.3rem;
    }
    
}