* {
    margin: 0;
    padding: 0;
	max-width: 100vw !important;
}

html {
    font-size: 62.5%; // 1rem = 10px without zoom

	scroll-behavior: smooth;  
}


body {
	color: $main-color;
    font-size: 1.8rem;
    font-family: 'Caveat', cursive;
	background: linear-gradient( to bottom, darken($sec-color, 15) , $sec-color);
	background-repeat: no-repeat;
	height: 100%;
	min-height: 100vh;
}

// button and input without default style
button, input {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	outline: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}
